html {
  scroll-behavior: smooth; 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat, Hind";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #323a3c;
  height: 100%;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}
a, a:visited, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: color .3s;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 20px;
  /* color: red; */
}
.nav-link a {
  padding: 0 1.25rem; /*20px*/
  line-height: 3rem; /*50px*/
  font-weight: 700;
}
.nav-link a:hover {
  color: #3c64b1;
  
}
